.header {
    background-color: #ffffff;

    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    height: 98px;
    width: 100%;
    max-width: 1551;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 110px;
    height: 50px;
    width: 100%;
    width: 1320px;
    


}

.logo {
    height: 44px;
    width: 134px;
}

.nav-bar {
    display: flex;
    list-style: none;
    width: 363px;
    height: 26px;
    justify-content: space-between;
    /* gap: 24px; */
    color: #575757;
}

.nav-btn {
    width: 192px;
    height: 56px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 12px 12px;
    border-radius: 12px;
    cursor: pointer;
}

.nav-btn:hover {
    background: #859ee5;

}

.hero {
    position: relative;
    height: 786px;
    width: 100%;
   max-width: 1551px;
    background: url("./assets/banner.jpg")center/cover no-repeat;
    display: flex;
    justify-content: center;

    text-align: center;
    color: #FFFFFF;
    overflow: hidden;

}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
}
.hero h1 {
    font-size: 80px;

    max-height: 105px;
    max-width: 959px
    line-height: 80px;
    letter-spacing: -3.2px;
    text-align: center;
    position: absolute;
    top:65px;
    left: 370px;
}

.hero p {
    font-size: 22px;
    line-height: 24px;

    max-height: 109px;
    max-width: 670px;
    letter-spacing: 0px;
    text-align: center;
    position:absolute;
    top: 180px;
    left: 387px;


}

.hero button {
    width: 282px;
    height: 74px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 4px 4px;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    top: 633px;
    left: 652px;

}

.hero button:hover {
    background-color: #575757;

}


.speakers {
    padding: 60px 80px;
    background: #FFFFFF;
    width: 1440px;
    height: 1279px;
    gap: 56px;
    position: relative;
    top: 55.5px;
}

.speakers h2 {
    text-align: center;
    font-size: 48px;
    max-width: 900px;
    max-height: 50px;
    position: relative;
    top: 30px;
    left: 270px;
}

.speaker-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    height: 1088px;
    width: 100%;
    max-width: 1321px;
    position: relative;
    top: 150px;
    left: 59.5px;
}

.speaker-card {
    background: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.speaker-card {
    width: 644px;
    height: 460px;
    object-fit: cover;
}

.

.speaker-content {
    padding: 20px;
}

.category {
    color: rgb(39, 36, 36);
    font-size: 12px;
    font-weight: bold;
}

.speaker-content h3 {
    font-size: 25px;
    margin: 10px 0;
}

.speaker-content p {
    color: #666;
}

.speaker-card {
    transition: .3s;
}

.speaker-card:hover {
    transform: translateY(-8px);
}

.pricing {
    padding: 100px 0;
    height: 718px;
    width: auto;
    max-width: 1551px;
    background: white;

}

.pricing h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 10px;
}

.pricing-title {
    text-align: center;
    color: #666;
    margin-bottom: 60px;
}

.pricing-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr)
}

.pricing-card {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 20px 30px rgb(0, 0, 0, .08);
    height: 444px;
    width: 370px;

}

.pricing-card p {
    color: #666;
    margin: 15px 20px;
}

.pricing-card h1 {
    font-size: 48px;
    margin: 15px 20px;
}

.pricing-card ul {
    margin: 30px 0;
}

.pricing-card ul li {
    margin: 15px px;
}

.pricing-btn {
    width: 100%;
    padding: 14px;
    border: 2px solid #2563eb;

    border-radius: 8px;
    background: #ffff;
    color: #2563eb;
    cursor: pointer;
}

.pricing-btn:hover {
    background: #859ee5;
}

.pricing-card-speacial {

    background: #0c0e1d;
    color: #ffff;
    transform: scale(1.05);
    transition: 1s;
    border-radius: 15px;
    height: 444px;
    width: 370px;   
}

.pricing-card-speacial p {
    color: #666;
    margin: 15px 20px;
}

.pricing-card-speacial h1 {
    font-size: 48px;
    margin: 15px 20px;
}

.pricing-card-speacial ul {
    margin: 30px 0;
}

.pricing-card-speacial ul li {
    margin: 15px 0;
}

.pricing-btn-special {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.pricing-btn-special:hover {
    background: #5c7dd6;
}

.pricing-card {
    transition: .3s;
}

.pricing-card:hover {
    transform: translateY(-5px);
}

.pricing-card-speacial:hover {
    transform: scale(1.05) translateY(-5px);
}

.why-choose {
    padding: 80px 50px;
    background: #cccee0;
}

.choose-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.why-choose h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
}

.subtitle {
    text-align: center;
    color: #282a3b;
    margin-bottom: 60px;
}

.feature-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature-card {
    width: 250px;
    color: #282a3b;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
    transition: 1s;
    background: rgb(231, 212, 212);
}

.feature-card:hover {
    transform: translateY(-8px);
}

.icon {
    font-size: 50px;
    margin-bottom: 20px;
}

.feature-card h3 {
    margin-bottom: 30px;
}

.feature-card p {
    color: #282a3b;
    line-height: 1.6;
}

.footer {
    background-color: #0f172a;
    padding: 10px 50px;
    height: 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
    height: 25px;
}

.footer-image {
    height: 20px;
    width: 20px;
}

.footer-links {
    display: flex;
    gap: 10px;
    text-align: center;
}

.footer-link-image {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    padding-top: 5px;
}

.footer hr {
    border: .5px solid white;
    height: 1px;
    background: #0c1116;
}

.footer-bottom {
    text-align: center;
    height: auto;
}

.footer-bottom p {
    color: #ffff;
    font-size: 15px;

}